.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 510px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity:5px;
  padding: 12px;
}
q{
  width: 200px;
}

img {
  width: 150px;
  border-radius: 10px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}
h5{
  margin: 5px;
}

section#firstSection p {
  padding: 30px;
}

section#firstSection {
  margin-bottom: 50px;
  margin-top: 50px;
}

section#secondSection h2 {
  text-align: center;
  color:#fff;
  font-size: 2rem;
}
section#firstSection h2{
  text-align: center;
}

section#secondSection {
  background-color: #83bad8;
  padding:10px;

section#firstSection h2 {
  text-align: center;
}


